body {
  background-color: pink;
}

h1 {
  color: #00BFFF;
  text-align: center;
}
h2 {
  color: black;
  text-align: center;
}
h3 {
  color: black;
  text-align: left;
}
h4 {
  color: black;
  text-align: left;
}
img {
  display: block;
  margin-left:auto;
  margin-right: auto;
  width:50%;
  height:50%;
}
/* table,
td { border: 1px solid #333;}
thead,
tfoot {
  background-color: #333;
  color: #fff
} */
